{% extends 'layout.html' %}

{% block script %}

var ctx = document.getElementById('container-chart-line').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  }
});

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-lg-8">
            <h2>Containers</h2>
            <div class="row">
                <canvas id="container-chart-line" style="height: 200px; width: 100%;"><canvas>
            </div>
            <div class="row">
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
        </div>

        <div class="col-lg-4">
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

    </div>
</div>
{% endblock %}
