{% extends 'layout.html' %}
{% load prettify %}

{% block script %}
    $('.accordion').accordion({
        heightStyle: "content"
    });
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <h2>{{ container.name }} ({{ container.short_id }})</h2>
        </div>
        <div class="col-lg-6">
            <div class="float-right">
                <span class="btn btn-outline-success">
                    {{ container.status }}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        {{ container.image }}</li>
        {{ container.labels }}</li>
    </div>

    <div class="row">
        <div class="accordion col-lg-12">
            {% for key, values in container.attrs.items %}
            <h3>{{ key }}</h3>
            <div><p><pre>{{ values | pretty_yaml }}</pre></p></div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

