{% extends 'layout.html' %}

{% block script %}

    $(".dropdown-menu a").click(function() {
        var url = $(this).attr('data-url');
        $.get(url, function(data) {
            console.log(url);
            location.reload();
        });
    });

    $(".button-checkable").click(function() {
        $(this).toggleClass("btn-primary");
        $(this).toggleClass("btn-outline-primary");
        $(this).toggleClass("checked");
    });


{% endblock %}

{% block content %}
<div class="container">

    <div class="row mb-3">

        <div class="col-md-4">
            <div class="btn-group btn-block">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bull action
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <span class="btn btn-block btn-secondary">
                <b>Image</b>
            </span>
        </div>

        <div class="col-md-4">
            <span class="btn btn-block btn-secondary">
                <b>Status</b>
            </span>
        </div>

    </div>

    {% for container in containers %}
    <div class="row mb-2">
        <div class="col-md-4">

            <div class="btn-group btn-block">
                <button class="btn btn-block btn-outline-primary button-checkable" type="button">
                    {{ container.name }}
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#" data-url="{% url 'containers:start' container.id %}" class="{% if container.state == 'running' %}disable{% endif %}">Start</a>
                    <a class="dropdown-item" href="#" data-url="{% url 'containers:restart' container.id %}">Restart</a>
                    <a class="dropdown-item" href="#" data-url="{% url 'containers:stop' container.id %}">Stop</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="{% url 'images:details' container.image.id %}" class="btn btn-block btn-outline-secondary">
                {{ container.image.name }}
            </a>
        </div>
        <div class="col-md-4">
            <span class="btn btn-block 
                {% if container.status == 'running' %}btn-outline-success{% endif %}
                {% if container.status == 'exited' %}btn-outline-danger{% endif %}
                {% if container.status == 'created' %}btn-outline-warning{% endif %}
            ">
                {{ container.status }}
            </span>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}

