{% extends 'layout.html' %}
{% block content %}
<div class="container">

    <div class="row">
        <h2>Containers</h2>
    </div>

    {% for container in containers %}
    <div class="row mb-2">
        <div class="col-lg-3">
            <a href="{% url 'dashboard:index' %}" class="btn btn-block btn-outline-primary">
                {{ container.name }}
            </a>
        </div>
        <div class="col-lg-3">
            {% for tag in container.image.tags %}
                {{ tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-2">{{ container.image.short_id|slice:"-10:" }}</div>
        {{ container.status }}
    </div>
    {% endfor %}

</div>
{% endblock %}

