{% extends 'layout.html' %}

{% block script %}

    $(".dropdown-menu a").click(function(){
        var url = $(this).attr('data-url');
        $.get(url, function(data) {
            console.log(url);
            location.reload();
        });
    });

{% endblock %}

{% block content %}
<div class="container">

    <div class="row mb-2">
        <div class="col-lg-3">
            <a href="#" class="btn btn-block btn-primary button-select-all">
                <b>SELECT ALL</b>
            </a>
        </div>
        <div class="col-lg-4">
            <span class="btn btn-block btn-secondary">
                <b>NAME</b>
            </span>
        </div>
        <div class="col-lg-2">
            <span class="btn btn-block btn-secondary">
                <b>STATUS</b>
            </span>
        </div>
    </div>

    {% for container in containers %}
    <div class="row mb-2">
        <div class="col-lg-3">
            <a href="#" class="btn btn-block btn-outline-primary">
                {{ container.name }}
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'images:details' container.image.id %}" class="btn btn-block btn-outline-secondary">
                {% if container.image.tags %}
                    {{ container.image.tags.0 }}
                {% else %}
                    {{ container.image.short_id|slice:"-10:" }}
                {% endif %}
            </a>
        </div>
        <div class="col-lg-2">
            <span class="btn btn-block 
                {% if container.status == 'running' %}btn-outline-success{% endif %}
                {% if container.status == 'exited' %}btn-outline-danger{% endif %}
                {% if container.status == 'created' %}btn-outline-warning{% endif %}
            ">
                {{ container.status }}
            </span>
        </div>
        <div class="col-lg-2">

            <div class="dropdown show">
              <a class="btn btn-block btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-url="{% url 'containers:start' container.id %}">Start</a>
                <a class="dropdown-item" href="#" data-url="{% url 'containers:restart' container.id %}">Restart</a>
                <a class="dropdown-item" href="#" data-url="{% url 'containers:stop' container.id %}">Stop</a>
                <a class="dropdown-item" href="#">Remove</a>
              </div>
            </div>
        </div>
        <div class="col-lg-1">
            <a href="{% url 'containers:details' container.id %}" class="btn btn-block btn-primary">
                &raquo;
            </a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}

